* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	position: relative;
}
.box {
	width: 100px;
	height: 150px;
	border-left: 10px dotted #d0d0ff;
	background: #eeeff2;
	margin-right: 10px;
	padding: 0 10px;
	font-size: 40px;
	
}
div:nth-child(6) {
	position: absolute;
	right: 0;
	bottom: 0;
}
.box:hover {
	background: yellow;
	color: goldenrod;
	cursor: pointer;
}